.card {
  display: flex;
  flex-direction: column;
  margin:.5rem 1rem;
  max-width: 25rem;
  min-height: 10rem;
  min-width: 25rem;
}

.mat-card-title {
  line-height: 1.2;
}

.mat-card-actions {
  margin: 0;
}

.mat-card > .mat-card-actions:last-child {
  margin-bottom: 0;
  margin-top: auto;
}

.button {
  width: 100%;
  transition: transform .1s ease-in-out;

  &:hover {
    transform: scaleY(1.2);
    background-color: rgb(31, 55, 122);

  }
}
.button_undo {
  width: 100%;
  transition: transform  .1s ease-in-out;

  &:hover {
    transform: scaleY(1.2);
  }
}

/* product.component.scss */
.buy-button {
  display: flex;
  justify-content: space-around;
}

.button-content {
  display: flex;
  align-items: center; /* Centra verticalmente los elementos en el contenedor */
}

.mat-button-wrapper {
  display: flex;
  width: 100%;
}

.left {
  width: 6rem;
  text-align: left;
  font-size: 1.2rem;
}

.center {
  margin: 0 8px; /* Espacio entre el elemento del centro y los elementos de los lados */
  flex: 1; /* Hace que este elemento ocupe el espacio restante en el centro */
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  text-align: right;
  width: 6rem;
}

@keyframes blink {
  0% { opacity: 1;}
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.blink {
  animation: blink 1s infinite;
}

.card {
  width: 300px; /* Ajusta el ancho de la card según tu diseño */
}

.product-image {
  height: 200px; /* Ajusta la altura deseada para la imagen */
  overflow: hidden; /* Evita que la imagen sobresalga de la card */
  margin-bottom: .5rem;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
