@media screen and (max-width: 600px) {
  .edicion {
    margin-top: 11rem;
  }
  }

.mat-elevation-z8 {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  border-radius: 4px;
}

.edicion {
  border-collapse: collapse;
  margin-top: 20px;

  th.mat-header-cell,
  td.mat-cell {
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 1rem;
    text-align: center;
  }

  th.mat-header-cell {
    background-color: #f0f0f0;
    font-weight: bold;
  }

  td.mat-cell input {
    border: none;
    width: 100%;
    padding: 5px;
    text-align: center;
  }

  button.column-button {
    width: 100%;
    text-align: center;
  }

  caption.main-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;
  }
}
